In [ ]:
#Question N01
1-> database is an organized collection of structured information, 
or data, typically stored electronically in a computer system

2-->What is the difference between SQL database and NoSQL database?
SQL databases are vertically scalable,
while NoSQL databases are horizontally scalable.
SQL databases are table-based, 
while NoSQL databases are document, key-value, graph, or wide-column stores.
SQL databases are better for multi-row transactions, 
while NoSQL is better for unstructured data like documents or JSON.

In [ ]:
#Question N02
1->DDL means data definition language
A data definition language (DDL) is a computer language used to create and
modify the structure of database objects in a database. 
These database objects include views, schemas, tables, indexes, etc.

2->
a->The CREATE TABLE command creates a new table in the database.
e.g->CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

b->the ALTER TABLE command adds, deletes, or modifies columns in a table.
e.g->ALTER TABLE Customers
ADD Email varchar(200);

c->The DROP TABLE command deletes a table in the database.
e.g->Drop Table tablename;

d->The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
e.g->Trucncate table LastName;

In [ ]:
#Question N03
1-> data manipulation language (DML) is a family of computer languages including
commands permitting users to manipulate data in a database

2->
a->The INSERT INTO command is used to insert new rows in a table.
e.g->INSERT INTO  Persons (PersonID ,LastName varchar(255), FirstName varchar(255), Address varchar(255), City varchar(255)
);
value("1",'Ansari','Sallu','Narkatiya','Kushinagar',)

b->The UPDATE statement is used to modify the existing records in a table
e.g.->UPDATE tablename
SET LastName = 'pathan, ...
WHERE PersonId=1;

c->The DELETE statement is used to delete existing records in a table.
e.g.->DELETE FROM Table_name WHERE LastName='Pathan';

In [ ]:
#Question N04
1->An SQL SELECT statement retrieves records from a database table according to clauses
(for example, FROM and WHERE ) that specify criteria
2->Select *from tableName;

In [ ]:
#Question N05

1->A primary key generally focuses on the uniqueness of the table.
It assures the value in the specific column is unique.it may be only one in any table
2->A foreign key is generally used to build a relationship between the two tables.it take reference from primary

In [ ]:
#Question n07
1->From
2->Where
3->Group By
4->Having

In [2]:
#Question N06
import mysql.connector
myconn = mysql.connector.connect(host = "localhost", user = "root",passwd = "google", database = "mydb")
print(myconn)
cur = myconn.cursor()
print(cur)

ModuleNotFoundError: No module named 'mysql'